/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Cairo", sans-serif;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

}
  /* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
  /* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
  /* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End Global Rules */


/* Start Lessons */
.main-title {
    text-transform: uppercase;
    margin: 0 auto 80px;
    border: 2px solid black;
    padding: 10px 20px;
    font-size: 30px;
    width: fit-content;
    position: relative;
    z-index: 1;
}
.lessons {
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    background-color:white;
}
.lessons .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.lessons .box {
    background-color: white;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    counter-increment: lessons;
    transition: 0.5s;
    position: relative;
}
.lessons .box::before {
    content: "";
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    top: -3px;
    background-color:#aaff00 ;
    position: absolute;
    width: 0;
    transition: 0.5s;
}
.lessons .box:hover {
    transform: translateY(-10px);
}
.lessons .box:hover::before {
    width: 100%;
}
.lessons .box > h3  {
    text-align: center;
    margin: 20px 0 40px;
    font-size: 25px;
}
.lessons .box h3 a{
    color: #0075ff;
    line-height: 100px;
}
.lessons .box .info {
    padding: 15px;
    position: relative;
    background-color: #f9f9f9;
    text-align: right;
}
.lessons .box .info::before {
    content: "0" counter(lessons);
    position: absolute;
    background-color: #aaff00;
    color: white;
    left: 0;
    top: 0;
    height: 100%;
    width: 80px;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
}
.lessons .box .info::after {
    content: "";
    position: absolute;
    background-color: #d5d5d5;
    top: 0;
    left: 80px;
    width: 50px;
    height: calc(100% + 0.4px);
    transform: skewX(-30deg);
}

  /* End Lessons */